.canvasContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.canvasContainer.visible {
  opacity: 1;
}

.canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
